__pycache__/
.DS_Store

initial_populations/*
interactive_runs/*
logs_collaborative*
logs/*
log/*
.env
.venv/*
.vscode/*
picture2d/rendered
outputs/*
submitit_logs/*
human_archive/*
legacy_diagrams/*
legacy_renders/*
genomeAll
**/figures/lineages
**/figures/lineages_neat
*.egg-info
archive
archive_neat