__pycache__/
.DS_Store
.pycache
multirun

initial_populations/*
interactive_runs/*
logs_collaborative*
sweep_logs*
logs/*
log/*
.env
.venv/*
.vscode/*
picture2d/rendered
outputs/*
submitit_logs/*
human_archive/*
legacy_diagrams/*
legacy_renders/*
genomeAll
**/figures/lineages
**/figures/lineages_neat
*.egg-info
archive
archive_neat
mutation_logs
cross_eval*
clip_noun_niche_es_logs/*
fer/src/archive*
fer/src/lineages*
cross_eval_clip_niches/*
SigLIP2-B-alignet*
figures/*
human_baseline/*
noun_lists/embeddings/*