graphviz
google-genai
hydra-core
matplotlib
neat-python==0.92
Pillow
pygame
python-dotenv
submitit

# javascript  # for neurogram only

# Added for embedding and visualization script
open_clip_torch
torchvision
torch
# umap-learn
scikit-learn
seaborn
tqdm
rasterfairy